.login {
    width: 400px;
    background: #000000;
    border: 1px solid #dddfe2;
    opacity: 85%;
    box-shadow: 0 2px 14px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 8px;
    padding: 1rem;
    margin-left: 40%;
    align-items: center;
    text-align: center;

}
.login h1{
    color: white;
}
.login h2{
    position: absolute;
    color: white;
    margin-top: -10%;
    margin-left: 1%;
    font-size: 3rem;
}
.login > form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}
